    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js'></script>
    <script>
$(document).ready(function(){
  function post_server(mes){
  $("#messages").prepend('<p style = "color: red ;background-color: yellow">'+mes+"</p>");
  };
  function post(mes) {
  $("#messages").prepend('<p style = "color: blue ; background-color: yellow">'+mes.data+"</p>").hide().fadeIn('slow');
  };

  ws = new WebSocket("ws:afternoon-autumn-2128.herokuapp.com:1000");
  ws.onopen = function() { ws.send("Connected to Server");}
  ws.onclose = function() { post_server("Server connection lost");} 
  ws.onmessage = function(msg)  {post(msg);} 


$('#chat_message').keypress(function(e) {
  if (e.keyCode === 13){
  var message = document.getElementById("chat_message")
//  alert(message.value);
  ws.send(message.value);
  message.value = "";
  }});
});
</script>
